{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": 6
        }
      }
    ]
  ],
  "plugins": [
    "tcomb",
    "add-module-exports",
    "transform-class-properties"
  ],
  "sourceMaps": "inline",
  "retainLines": true,
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul"
        ]
      ]
    }
  }
}
