# /node_modules/* and /bower_components/* ignored by default

**/*.json
packages/**/test/*
packages/runonce.*
packages/module.*/lib/**/*.js
packages/**/coverage/*
packages/**/nyc_output/*
packages/**/node_modules/*

build/*
_supportScripts
reports/*
templates/*
jspm_packages/*
.serverless/*
.webpack/*
.nyc_output/*
.idea/*
.vscode/*
coverage/*
test/*