# /node_modules/* and /bower_components/* ignored by default

**/packages/**/test/*
**/packages/internal.*/lib/*

build/*
reports/*
templates/*
jspm_packages/*
.serverless/*
.webpack/*
.nyc_output/*
.idea/*
.vscode/*
coverage/*
test/*